body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #2f4f4f; /* Darker background color */
    margin: 0;
    padding: 20px;
    color: #f0f8ff; /* Light text color for contrast */
}

h1 {
    color: #f0f8ff;
}

#energy, #resources {
    margin: 20px 0;
    position: fixed; /* Fixing the position to the top left corner */
    top: 20px; /* Adjust this to move the stats further down or up */
    left: 20px; /* Adjust this to move the stats further left or right */
    text-align: left; /* Align text to the left */
}

#resources p, #energy p {
    font-size: 1.2em;
    margin: 5px 0; /* Adding some margin between the paragraphs */
}

#buttons {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

#save-progress {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

button {
    padding: 10px 20px;
    font-size: 1em;
    margin: 5px;
    cursor: pointer;
    border: 1px solid #f0f8ff;
    border-radius: 5px;
    background-color: #add8e6;
    color: #2f4f4f;
}

button:disabled {
    background-color: #cccccc;
    color: #666666;
    cursor: not-allowed;
}
